[submodule "TourDeFranceLineChart/ShinobiPlayChartsUtils"]
	path = TourDeFranceLineChart/ShinobiPlayChartsUtils
	url = git@bitbucket.org:shinobicontrols/shinobi-play-utils-charts.git
	branch = master
